/* Container for the slideshow */
.slideshow-container {
    position: relative;
    max-width: 100%;
    height: 45vw;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

.fade {
    position: absolute;
    width: 100%;
    opacity: 0; /* Make image invisible initially */
    transition: opacity 0.6s ease-in-out;
    animation: fadeEffect 10.2s infinite; /* Per cycle */
}

    /* Displaying each image */
    .fade:nth-child(1) {
        animation-delay: 0s;
    }

    .fade:nth-child(2) {
        animation-delay: 2.5s;
    }

    .fade:nth-child(3) {
        animation-delay: 5s;
    }

    .fade:nth-child(4) {
        animation-delay: 7.5s;
    }

.slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container without distortion */
}

/* Keyframes for fade in/out effect */
@keyframes fadeEffect {
    0% {
        opacity: 0;
    }

    22.22% {
        opacity: 0.99;
    }

    50% {
        opacity: 1;
    }

    66.66% {
        opacity: 0.01;
    }

    100% {
        opacity: 0;
    }
}
