body {
    font-family: Arial, sans-serif;
}

.cart_main {
    border: 3px groove #f1f1f1;
    background-color: #ffffffed;
    margin: 30vh;
    margin-top: 3vh;
    border-radius: 3vh;
    display: flex;
    justify-content: space-between;
}

    .cart_main img {
        height: 30%;
        max-height: fit-content;
    }

.cart-container {
    margin: 20px;
    padding: 20px;
}

    .cart-container div {
        margin: 10px;
        padding: 10px;
    }

.button {
    text-decoration: none;
    border: 2px solid #007bff;
    border-radius: 5px;
    display: inline-block;
    background-color: transparent;
    padding: 5px 10px;
    color: #007bff;
}

#cart-items {
    border: 4px ridge #1d1f1d;
    border-radius: 4vh;
}
