a {
    color: #7c6afff5;
}

.card {
    background-color: rgb(255, 255, 255, 0.9);
    box-shadow: -0.25em 0.25em rgb(255, 255, 255, 0.75);
    text-shadow: 1px 1px 2px white, 0 0 0.25px blue, 0 0 0.5px darkblue;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.card-body {
    background-color: rgb(255, 255, 255, 0.75);
}

.card .mt-auto {
    margin-top: auto; /* Pushes the price and link to the bottom */
}

.list-group-flush {
    background-color: rgb(55, 55, 55, 0.55);
    box-shadow: 5em -1em 5em -1em rgb(15, 15, 15, 0.15);
}

#searchForm {
    background: linear-gradient(to left, #f8f2ffe0,#d0a2ffab, transparent);
    align-content: center;
    border-radius: 0.5vh;
}

.no_results {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
}

.input-group {
    display: flex;
    align-items: center;
    position: relative;
}

#priceFilter, #typeFilter {
    padding: 10px;
    margin-top: 7.5px;
    align-self: baseline;
}

#searchInput {
    flex: 1;
}

#searchInput:focus {
    outline: none;
}

#suggestions {
    border-left-style: dashed;
    border: 0.1vh hidden #cccccccc;
    background-color: white;
    position: absolute;
    width: 100%;
    max-width: 500px;
    z-index: 8;
    text-align: center;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

    .suggestion-item:hover {
        background-color: #f0f0f0;
    }

#clearButton {
    display: inline;
    margin-left: -5px;
    font-size: 1.6rem;
    border: unset;
    background: unset;
    cursor: context-menu;
    color: #333;
}

    #clearButton:hover {
        color: red; 
    }

#searchButton {
    align-self: baseline;
    margin-top: 10px;
}